@model ObjectBussiness.News

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Post", FormMethod.Post))
            {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Title" class="control-label"> Title Post</label>
            @Html.EditorFor(model=>model.Title,new {htmlAttributes= new{@class="form-control", @placeholder="Pleate enter title"} })

            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Contents" class="control-label"> Content </label>
            @Html.EditorFor(model=>model.Contents,new {htmlAttributes= new{@class="form-control", @placeholder="Pleate enter content"} })
            <span asp-validation-for="Contents" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="ShortContents" class="control-label"> Short Contents</label>
            @Html.EditorFor(model=>model.ShortContents,new {htmlAttributes= new{@class="form-control", @placeholder="Pleate enter short contents"} })
            <span asp-validation-for="ShortContents" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Picture" class="control-label"> Image Post</label>
            @Html.EditorFor(model=>model.Picture,new {htmlAttributes= new{@class="form-control", @placeholder="Pleate enter images"} })
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="DateSubmitted" class="control-label"> Date Publish</label>
            @Html.EditorFor(model=>model.DateSubmitted,new {htmlAttributes= new{@class="form-control", @placeholder="Pleate enter Date Publish"} })
            <span asp-validation-for="DateSubmitted" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="CategoryID" class="control-label"> Category News</label>
            @Html.EditorFor(model=>model.CategoryID,new {htmlAttributes= new{@class="form-control", @placeholder="Pleate enter category news"} })
            <span asp-validation-for="CategoryID" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="AccountID" class="control-label"> AccountID</label>
            @Html.EditorFor(model=>model.AccountID,new {htmlAttributes= new{@class="form-control", @placeholder="Pleate enter AccountID"} })
            <span asp-validation-for="AccountID" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        @* </form>*@
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

