@model ObjectBussiness.News

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm("Edit", "Post", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewsID" class="control-label"></label>
                @Html.EditorFor(model=>model.NewsID,new {htmlAttributes= new{@class="form-control"} })
                <span asp-validation-for="NewsID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                @Html.EditorFor(model=>model.Title,new {htmlAttributes= new{@class="form-control"} })
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Contents" class="control-label"></label>
                @Html.TextAreaFor(model => model.Contents, new {@class = "form-control", id= "summernote"})
                @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger"})
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ShortContents" class="control-label"></label>
                @Html.EditorFor(model=>model.ShortContents,new {htmlAttributes= new{@class="form-control"} })
                <span asp-validation-for="ShortContents" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                @Html.EditorFor(model=>model.Picture,new {htmlAttributes= new{@class="form-control"} })
                <img id="preview" src="@Url.Content(ViewBag.Picture==null?"~/adminAssets/images/upload.png":"~/Upload/images/"+ViewBag.Picture)" class="rounded-circle" height="40" width="40" />
                @Html.EditorFor(model=>model.ImageFile,new {htmlAttributes= new{@class="custom-file-input"}})
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AccountID" class="control-label"></label>
                @Html.EditorFor(model=>model.AccountID,new {htmlAttributes= new{@class="form-control"} })
                <span asp-validation-for="AccountID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                @Html.EditorFor(model=>model.CategoryID,new {htmlAttributes= new{@class="form-control"} })
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
<br />

<div>
    @Html.ActionLink("Back To List","Index","Post",null, new {@class="btn btn-danger"})
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
    <script>
        function DisplayProgressMessage(ctl, msg) {
            //if use the submit button, you can use event.preventDefault to prevent the default submit form behavior.
            event.preventDefault();
            // Turn off the "Save" button and change text
            $(ctl).prop("disabled", true).val(msg);
            // Gray out background on page
            $("body").addClass("submit-progress-bg");
            // Wrap in setTimeout so the UI can update the spinners
            $(".processing-preview").removeClass("hidden");
            //submit the form.
            setTimeout(function () {
                $("form").submit();
                $(".processing-preview").addClass("hidden");
                $("body").removeClass("submit-progress-bg");
                $(ctl).prop("disabled", false).val("Creat");
            }, 1);
            return false;
        }
        var cleaveOptions = {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand',
            numeralPositiveOnly: true
        };
    </script>
    <script>
        ImageFile.onchange = evt => {

            const [file] = ImageFile.files

            if (file) {

                preview.src = URL.createObjectURL(file);
            }
        }
    </script>
}

<!--Kích hoạt phần tử #Content là Editor HTML -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<script>
    $('#summernote').summernote({
        placeholder: 'Enter News content',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>

