@model IEnumerable<ObjectBussiness.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model) {
<div class="templateux-section">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4 mb-4">
                <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/anphat.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                            <h2><label for="@item.Title">@item.Title</label></h2>
                            <span class="post-meta"><label for="@item.DateSubmitted">@item.DateSubmitted</label></span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                    <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/anphat.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                            <h2><label for="@item.Title">@item.Title</label></h2>
                            <span class="post-meta"><label for="@item.DateSubmitted">@item.DateSubmitted</label></span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/slider-1.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                            <h2><label for="@item.Title">@item.Title</label></h2>
                            <span class="post-meta"><label for="@item.DateSubmitted">@item.DateSubmitted</label></span>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/hero_2.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                        <h2>Behind the word mountains</h2>
                        <span class="post-meta">January 20, 2019 &bullet; 3 Comments</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/hero_3.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                        <h2>Behind the word mountains</h2>
                        <span class="post-meta">January 20, 2019 &bullet; 3 Comments</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/img_4.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                        <h2>Behind the word mountains</h2>
                        <span class="post-meta">January 20, 2019 &bullet; 3 Comments</span>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/slider-2.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                        <h2>Behind the word mountains</h2>
                        <span class="post-meta">January 20, 2019 &bullet; 3 Comments</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/slider-3.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                        <h2>Behind the word mountains</h2>
                        <span class="post-meta">January 20, 2019 &bullet; 3 Comments</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/slider-1.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                        <h2>Behind the word mountains</h2>
                        <span class="post-meta">January 20, 2019 &bullet; 3 Comments</span>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/hero_2.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                        <h2>Behind the word mountains</h2>
                        <span class="post-meta">January 20, 2019 &bullet; 3 Comments</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/hero_3.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                        <h2>Behind the word mountains</h2>
                        <span class="post-meta">January 20, 2019 &bullet; 3 Comments</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="blog-single.html" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image: url('images/img_4.jpg'); " data-aos="fade" data-aos-delay="300">
                    <div class="block-thumbnail-content">
                        <h2>Behind the word mountains</h2>
                        <span class="post-meta">January 20, 2019 &bullet; 3 Comments</span>
                    </div>
                </a>
            </div>

        </div> <!-- .row -->

        <div class="row mt-5">
            <div class="col-md-12 pt-5">
                <ul class="pagination custom-pagination">
                    <li class="page-item prev"><a class="page-link" href="#"><i class="icon-keyboard_arrow_left"></i></a></li>
                    <li class="page-item active"><a class="page-linkx href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item next"><a class="page-link" href="#"><i class="icon-keyboard_arrow_right"></i></a></li>
                </ul>


            </div>
        </div>

    </div>
</div>
}
<!-- .templateux-section -->
