@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<ObjectBussiness.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>News Management</h1>
<br />

<p>
    @Html.ActionLink("Creat News","Create","News", null, new {@class="btn btn-success"})
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                Post ID
            </th>
            <th>
                Title
            </th>
            <th>
                Contents
            </th>
            <th>
                Short Content
            </th>
            <th>
                Image
            </th>
            <th>
                Date Publish
            </th>
            <th>
                Catetory ID
            </th>
            <th>
                Account Creat
            </th>
            <th>Setting</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortContents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                <td>
                    @Convert.ToDateTime(item.DateSubmitted).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountID)
                </td>
                <td>
                    @Html.ActionLink("Update", "Edit", new {  id=item.NewsID  },new {@class="text-success"}) |
                    @Html.ActionLink("Remove", "Delete", new {id=item.NewsID },new {@class="text-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
