@model IEnumerable<ObjectBussiness.Question>

@{
    ViewData["Title"] = "StartQuiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>StartQuiz</h1>

<h4>Question</h4>
<hr />
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            @using (Html.BeginForm("StartQuiz", "Question", FormMethod.Post))
            {
                foreach (var item in Model)
                {
                    <div class="border">
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                @* <h4>Thi trắc nghiệm</h4><span>(@context câu hỏi)</span> *@
                            </div>
                        </div>
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row align-items-center question-title">
                                @Html.DisplayFor(x => item.QuestionName, new { @class = "mt-1 ml-2 text-danger" })
                            </div><div class="ans ml-2">
                                <label class="radio">
                                    @Html.RadioButtonFor(modelItem => item.AnswerA, item.AnswerA)
                                    <span>@item.AnswerA</span>
                                </label>
                            </div><div class="ans ml-2">
                                <label class="radio">
                                    @Html.RadioButtonFor(modelItem => item.AnswerB, item.AnswerB)
                                    <span>@item.AnswerB</span>
                                </label>
                            </div><div class="ans ml-2">
                                <label class="radio">
                                    @Html.RadioButtonFor(modelItem => item.AnswerC, item.AnswerC)
                                    <span>@item.AnswerC</span>
                                </label>
                            </div><div class="ans ml-2">
                                <label class="radio">
                                    @Html.RadioButtonFor(modelItem => item.AnswerD, item.AnswerD)
                                    <span>@item.AnswerD</span>
                                </label>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                            <button class="btn btn-primary border-success align-items-center btn-success">Tính kết quả</button>
                        </div>
                    </div>
                }
                <br />
                @*       @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page,SearchString = @Context.Request.Query["SearchString"]}),
            new X.PagedList.Web.Common.PagedListRenderOptions {
            LiElementClasses = new string[] {"page-item"},
            PageClasses = new string[] { "page-link " }
            }) *@
            }
        </div>
    </div>
</div>

